<ul class="movie-list">
  {{#each movies}}
    <li>
      {{#if this.image.url}}
        <a href="/movies/{{this.id}}">
          <img
            class="image"
            src="{{this.image.url}}"
            alt="{{this.title}}"
          />
        </a>
      {{else}}
        <p>No image available</p>
      {{/if}}
      <a class="movie-title" href="/movies/{{this.id}}">
        {{this.title}}
      </a>
    </li>
  {{/each}}
</ul>